@{
    ViewData["Title"] = "Resume";
}

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>이력서</h2>
        <p>꾸준히 발전을 위해 노력하겠습니다</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">개요</h3>

                <div class="resume-item pb-0">
                    <h4>DoGyoung Park</h4>
                    <p><em>경력 개요 설명</em></p>
                    <ul>
                        <li>부산광역시 남구 신선로 365</li>
                        <li>+82 010-1234-1234</li>
                        <li>pdk@kakao.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">교육</h3>
                <div class="resume-item">
                    <h4>문화콘텐츠학과/문화기획학과(복수전공)</h4>
                    <h5>2018.03 - 2023.02</h5>
                    <p><em>경성대학교</em></p>
                    <p>학사 졸업 설명~~ </p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>AWS기반 JAVA 개발자</h4>
                    <h5>2024.02 - 2024.08 </h5>
                    <p><em>아이티윌 부산센터</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">경력</h3>
                <div class="resume-item">
                    <h4>Senior graphic design specialist</h4>
                    <h5>2019 - Present</h5>
                    <p><em>Experion, New York, NY </em></p>
                    <ul>
                        <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                        <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                        <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                        <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Graphic design specialist</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Stepping Stone Advertising, New York, NY</em></p>
                    <ul>
                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                        <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                        <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
