@model MyPortfolioWebApp.Models.Board

@{
    ViewData["Title"] = "새로운 게시글 작성";
}
<section id="board" class="board section">
    <div class="container section-title" data-aos="fade-up">
        <h2>자유게시판</h2>
        <p>자유롭게 이용하실 수 있습니다</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h1>신규</h1>
        <hr />
        <div class="row">
            <div class="col-md">
                <form asp-controller="Board" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- 화면에는 나타나지 않지만 HTML 구조상에 포함된 값 -->
                    <input asp-for="Id" type="hidden"/>
                    @* <input asp-for="PostDate" type="hidden" /> *@
                    @* <input asp-for="ReadCount" type="hidden" /> *@
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="Writer" class="control-label"></label>
                                <input asp-for="Writer" class="form-control" />
                                <span asp-validation-for="Writer" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Contents" class="control-label"></label>
                        <textarea asp-for="Contents" class="form-control editor"></textarea>
                        <span asp-validation-for="Contents" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="저장" class="btn btn-sm btn-success btn-kelly" />
                        <a asp-action="Index" class="btn btn-sm btn-success">목록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- 입력 검증 스크립트 포함 -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
